<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="Q2" value="https://www.myget.org/F/q2oao/auth/acdd4d07-2764-4fba-a861-84c9de7723ea/api/v3/index.json" />
		<add key="xUnit.net" value="https://www.myget.org/F/xunit/api/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="aspnetmaster" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json"/>
	</packageSources>
	<disabledPackageSources>
	</disabledPackageSources>
	<activePackageSource>
		
	</activePackageSource>
</configuration>